
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        header {
            background-color: #494b4b;
           
            padding: 2%;
            text-align: center;
        }

        .nav{
         
            text-decoration: none;
            color: #b9afaf;
            border-style: groove;
            border-color: #060606;
        }

        .nav:hover{
            background-color: rgb(176, 128, 66);
        }

      .return-requirments{
        display: flex;
        border: 1px solid lightblue;
        width: 20%;
        box-shadow: 10px 12px 20px rgba(0.1 , 0 , 0 , 0.3);
        margin: 0 auto;
      }

       

    

        .footer {
            background-color: #333;
            color: rgb(135, 124, 127);
            padding: 10px;
            text-align: center;
        }

        .footer a{
         color: red;
         text-decoration: none;
         border-style: groove;
        }

       footer:hover {
       
       font-size: 20px;
        
      }

/*return form decoration*/

        #returnForm {
            max-width: 400px;
            margin: auto;
            margin-bottom: 2%;
            margin-top: 2%;
            border: 1px solid #07f03a;
            padding: 20px;
            border-radius: 8px;
        }

        #returnForm label {
            display: block;
            margin-bottom: 9px;
        }

        #returnForm input,
        #returnForm textarea,
        #returnForm select {
         
            padding: 8px;
            margin-bottom: 12px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }



        .submit{
            background-color: aqua;

        }

       .submit:hover{
        

        cursor: pointer;
        background-color: aquamarine;

       }

       



      
       


 
