


.body {
   
   
   
    background-image: url( 'images/cloth8.jpg');
    background-size: cover;
   
    /* transition: background-image 4s ease-in-out; */
    transition: background-image-change 4s ease-in-out;
    
}
@keyframes background-image-change{

    0% {opacity: 1;}
    25% {opacity: .75;} 
    50%{opacity: .50;} 
    75%{opacity: 0.25} 
    100%{opacity: 0;}

}



.welcomeMsgHoldingContainer {
  
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); /*horizontalyy and verticaly adjust kortese content k*/
    text-align: center;

   
  }
  
  .weicomingMsg {
    font-size: 5rem;
    font-family: "Sofia", sans-serif;
    color: #7e2414;
    box-shadow: 10px 12px 20px rgba(0.1 , 60 , 50 , 10);
   
   
    
   
  }
  
  /* buttons*/

  .btn-container{
    display: flex;
  }
  .FirstBtn,
  .middleBtn,
  .LastBtn {
    margin: 6px; /* spacing between buttons */
    font-size: 28px;
    font-weight: bold;
    padding: 15px 60px; /* padding , button er vetorta koto lomba and width hobe*/
    border: none;
    border-radius: 20px; /*border-radius for a slightly curved border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;   /* while hovering  */
    
    animation: slideInBottom 2.5s ease-in-out ; 
   

  
  }
  
  .FirstBtn {
    background-color: #ce4210; 
    left: 100px; 
  
  }
  
  .middleBtn {
    background-color: #7e2414; 
    left: 250px;
  }
  
  .LastBtn {
    background-color: #a1610d;
    left: 400px;  
  }
  

  .FirstBtn:hover,
  .middleBtn:hover,
  .LastBtn:hover {
    background-color: #d2691e; 
    color: #fff; 
    transform: scale(1.05); 
  }
  







@keyframes slideInBottom {
    0% {
        transform: translateY(100vh);
        opacity: 0.5;
    }
  
}


/*TrendImgContainer  aside*/

.TrendImgContainer {
    
    padding: 2px;
  
    width: 40%;
    height: 50%;
   
    position: fixed;
    top: 0;
    right: 0;
    color: #ce0707;
    text-align: center;
    border: 1px solid red;
    text-align: center;
    width: 20%;
}

#TrendImg {
    max-width: calc(80% ); 
    max-height: 80%;
   
    margin: 0 auto;
   
    border-radius: 7px; 
    box-shadow: 10px 12px 20px rgba(0.1 , 0 , 0 , 0.7);
    
    
}

/* search bar */
.SearchingOpt {
    
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
}



.SearchingOpt input {
    padding: 8px;
    border: 1px solid #08e41b; /*  border color */
    border-radius: 5px;
    outline: none;
}

/* nav 2 */
.nav2{


    display: flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;


    border: 3px solid rgb(203, 157, 177);
    border-radius: 58%;
    background-color: rgb(217, 197, 197);
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-top:38rem;

 
  


    
   
   
   
  
}

.nav2 a {
    text-decoration: none;
    color: #df0c0c; 
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    

   
}

.nav2 a:hover {
    background-color: #eee; /* Background color on hover */
    color: #555; /* Text color on hover */
}



body{
    width: 100%;
}

/*tab*/
@media screen and (min-width: 1010px) {
    .FirstBtn, .middleBtn, .LastBtn {
       

    }

    .weicomingMsg {
       display: flex;
       flex-direction: column;
    }
   
  



  .nav2{

   
    bottom: 10px;
  
   
   
   
   
   
   
  
}

}


@media screen and (min-width: 649px)  and (max-width: 950px) {
    .FirstBtn, .middleBtn, .LastBtn {
        padding: 4px 20px;
        font-size: 2rem;
       

    }

.TrendImgContainer{
    width: 25%;
    height: 30%;
}

.nav2{

    width: 40%;
    margin: 0 auto;
    margin-top: 31rem;
   
   
   
   
  
}
    .weicomingMsg {
   
       font-size: 3rem;

    }

    body{
       width: 90%;
    }


   
}


@media  screen and (max-width: 650px) {
    .FirstBtn, .middleBtn, .LastBtn {
        padding: 4px 20px;
        font-size: 2rem;
       

    }
 
    .TrendImgContainer{
        width: 20%;
        height: 25%;
    }

    .nav2{

        width: 47%;
        margin: 0 auto;
        margin-top:30rem;
       
       
       
      
    }
    .weicomingMsg {
      
       font-size: 2rem;

    }

    body{
       width: 90%;
       height: 90%;
    }


   
}

